
<div class="container">
     <div class="title-wrapper">Edit Assignments</div>
    <div class="table-wrapper">
        <mat-table [dataSource]="tasks" class="custom-table mat-elevation-z0">
            <ng-container matColumnDef="task">
                <td mat-cell *matCellDef="let task">
                        <span class="pi pi-book">
                        </span>
                        <span>
                            {{task.description.charAt(0).toUpperCase() + task.description.slice(1)}}
                        </span>      
                </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    </div>
</div>