.progress-circle-wrapper {
    position: relative;
    width: 95%;
    height: 20.46vh;
    display: inline-block;
    justify-self: center;
}

canvas {
    background-color: transparent;
    justify-self: center;
    
}

span h1 {
    font-weight: 450;
}

.progress-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 300;
  color: #2DBA95;
  user-select: none;
}



.chart-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 92%;/*47.5vh;*/
    height: 28.13vh;
    padding: 1vh;
    background-color: #F9F9FA;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 0 4px rgba(0.1, 0.1, 0.1, 0.1);
    gap: 3vh;
}

.container {
    align-items: center;
    justify-items: center;
    width: 100%;
}