<div class="tracker">
    <mat-vertical-stepper class="custom-stepper" (selectionChange)="onStepChange($event)" [linear]="false">
        <mat-step class="" *ngFor="let section of sections" [label]="section.label">
            <!-- If there are subsections, show a nested stepper -->
            <mat-vertical-stepper (selectionChange)="onStepChangeChild($event)"*ngIf="section.subsections" [linear]="false">
                <mat-step class="subsection-text" *ngFor="let sub of section.subsections" [label]="sub.label">            </mat-step>
            </mat-vertical-stepper>

        </mat-step>
    </mat-vertical-stepper>

       
</div>