<span>
    <h1>Overview</h1>
</span>
<div class="card-wrapper">
    <div class="card-row">
        <div class="card">
            <span class="done">
                <h1>Done</h1>
                <p>10,000</p>
                <div class="stat-bar">
                    <div>+1.00</div>
                    <mat-icon>trending_up</mat-icon>
                </div>
            </span>
        </div>
        <div class="card">
            <span class="in-progress">
                <h1>In Progress</h1>
                <p>10,000</p>
                <div class="stat-bar">
                    <div>+5.00</div>
                    <mat-icon>trending_up</mat-icon>
                </div>
                

            </span>
        </div>
        <div class="card">
            <span class="todo">
                <h1>Not Started</h1>
                <p>10,000</p>
                <div class="stat-bar">
                    <div>-32.02</div>
                    <mat-icon>trending_down</mat-icon>
                </div>

            </span>
        </div>
        <div class="card ">
            <span class="assessments">
                <h1>Assessments</h1>
                <p>10,000</p>
                <div class="stat-bar">
                    <div>+10.00</div>
                    <mat-icon>trending_up</mat-icon>
                </div>

            </span>
        </div>
    </div>
</div>
