<div class="password-layout">
  <h1 class="head-text">Reset Password</h1>    
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="password-place">
        <label class="tag-text" for="email">Email:</label>
        <div class="input-field">
            <input pInputText class="" type="text" id="email" placeholder="@innbucks.co.zw" formControlName="email" [invalid]="isInvalid('username')" />
        </div>
    
        <div class="error-message">
            <i class="pi pi-info-circle"></i>
            <p></p>
        </div>
        
        <button pButton class="submitB" severity="secondary" type="submit"><span pButtonLabel>Submit</span></button>
    </form>
</div>



