<div class="password-layout">
  <h1 class="head-text">Reset Password</h1>    

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="password-place">
    
    <label class="tag-text" for="nPass">New Password:</label>
    <div class="input-field">
      <input 
        pInputText 
        type="password" 
        id="nPass" 
        placeholder="new password"
        formControlName="newPassword"
      />
    </div>

    <label class="tag-text2" for="cPass">Confirm Password:</label>
    <div class="input-field2">
      <input 
        pInputText 
        type="password" 
        id="cPass" 
        placeholder="rewrite here"
        formControlName="oldPassword"
      />
    </div>

    <!-- Password Strength Error -->
    <div class="error-message" *ngIf="showStrengthError()">
      <p-message class="error-message-text" severity="warn" icon="pi pi-exclamation-triangle" variant="simple">
        Password must be at least 8 characters, include a number and a special character.
      </p-message>
    </div>

    <button pButton class="submitB" severity="secondary" type="submit">
      <span pButtonLabel>Submit</span>
    </button>
  </form>
</div>
